<h3>Create User</h3>
<form id="create-user">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="name" placeholder="User name" required>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary pull-right">Create</button>
    </div>
  </div>
</form>