<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Sequelize Many to Many Demo</h1>
  </div>
  <div class="row">
    <div class="col-md">
      {{> create-user }}      
    </div>
    <div class="col-md-8">
      {{> create-pet }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      {{> update-user-pets }}
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      {{> users-list }}
    </div>
    <div class="col-md">
      {{> pets-list }}
    </div>
  </div>
</div>


