{{#if users}}
  {{#each users}}
    <p>Name: {{ name }}</p>
  {{/each}}
{{else}}
  <p>no users found</p>
{{/if}}

<form id="create-user">
  <input type="text" name="name">
  <button type="submit">Create</button>
</form>